html {
    height: 100%;
}

body {
    background: rgb(219, 217, 206);
    min-height: 100%;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 330px;
}

header {
    background: white;
    height: 175px;
}

.icone {
    width: 80px;
    height: 80px;
}

.brand {
    font-size: 1.5em;
}

nav a {
    color: rgb(192, 192, 192);
    font-size: 1.5em;
}

nav a:hover {
    color: rgb(112, 155, 112);
}

.picture {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
}

.text-justify {
    text-align: justify;
}

footer {
    font-size: 0.7em;
    position: absolute;
    bottom: 0;
}

/* Responsive Design */

@media (min-width: 1000px) {
    .info-block {
        width: 50%;
    }
}

@media (min-width: 1700px) {
    .info-block {
        width: 40%;
        margin: auto;
    }

    .info-event {
        width: 90%;
        margin: auto;
    }
}